.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.search-bar {
  margin: 16px 16px 8px 16px;
}

.control-bar {
  display: flex;
  flex-direction: row;
  padding: 0px 16px;
}

.sort-bar {
  flex-shrink: 0;
  flex-grow: 1;
}

.gallery {
  flex-grow: 1;
}
